<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
    <title>A True True List of All Available Reviews</title>
</head>
<body>
<div th:insert="fragments/header :: header">...</div>
<div th:insert="${view} :: main">...</div>
<div th:insert="fragments/footer :: footer">...</div>

<!--<div th:replace="fragments/header :: header">Header</div>-->
<!--    <div th:replace="${view} :: content">Page Content</div>-->
<!--    <div th:replace="fragments/footer :: footer">Footer</div>-->
<main>
    <h2>Hellooooo Nurse</h2>
</main>
</body>
</html>