<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<head>
    <title th:text="${review.name()}">A review</title>
</head>
<body>
<main layout:fragment="content">
    <h1 th:text="${review.name}">A review</h1>
    <div>
        <p th:text="${review.name}"></p>
        <p th:text="${review.category}"></p>
        <p th:text="${review.content}"></p>
        <p th:text="${review.image}"></p>
    </div>
    <p><a href="/reviews">Reviews</a></p>
</main>

</body>
</html>